In [1]:
import pandas as pd
from datetime import datetime

## 1.날짜, 시간 자료형, 도구

In [2]:
# datetime.now()
# 현재 시각을 알려준다.
now=datetime.now()
now

datetime.datetime(2023, 1, 10, 22, 47, 23, 822592)

In [3]:
# datetime.delta
# 두 datetime 객체 간의 시간적인 차이를 표현
delta=datetime(2011,1,7)-datetime(2008,6,24,8,15)
delta

datetime.timedelta(days=926, seconds=56700)

In [4]:
delta.days

926

In [5]:
delta.seconds

56700

In [6]:
# timedelta 더하기 빼기
from datetime import timedelta
start=datetime(2011,1,7)
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [7]:
start-2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## 2. 문자열을 datetime으로 변환하기

In [8]:
# str 메서드나 strftime 메서드를 이용해서 문자열로 나타낸다.
stamp=datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [9]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [10]:
# datetime.strptime- 문자열을 날짜로 변환할 때 사용
value='2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [11]:
datestrs=['7/6/2011','8/6/2011']
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [12]:
# 포맷규칙을 이용하지 않고 datetime으로 변환하기
# parser.parse

In [13]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
parse('Jan 31, 1997 10:45 pm')

datetime.datetime(1997, 1, 31, 22, 45)

In [15]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [16]:
# to_date

In [17]:
datestrs=['2011-07-06 12:00:00','2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [18]:
# 누락된값 처리
idx=pd.to_datetime(datestrs+[None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [19]:
idx[2]

NaT

In [20]:
pd.isnull(idx)

array([False, False,  True])