In [1]:
import pandas as pd 
import numpy as np
from datetime import datetime

## 1. 날짜 범위 생성하기

In [2]:
# pandas.date_range를 사용해서 특정 빈도에 따라 지정한 길이만큼의 DatetimeIndex를 생성한다.
# 일별 타임스탬프를 생성한다.

index=pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# 생성할 기간의 숫자 전달하기
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [4]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# 월의 마지막 영업일 포함
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [6]:
# date_range는 기본적으로 시작 시간이나 종료 시간의 타임스탬프를 보존한다.

pd.date_range('2012-05-02 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# 관례에 따라 자정에 맞추어 타임스탬프를 정규화하기
# normalize옵션 사용

pd.date_range('2012-05-02 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

## 2. 빈도와 날짜 오프셋

In [8]:
from pandas.tseries.offsets import Hour,Minute

In [9]:
hour=Hour()
hour

In [10]:
# 오프셋의 곱
# 정수를 넘겨서 구한다.
four_hours=Hour(4)
four_hours

In [11]:
pd.date_range('2000-01-01','2000-01-03',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [12]:
pd.date_range('2000-01-01',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### 월별주차

In [13]:
# WOM
# 매월 3째주 금요일 같은 날짜를 얻을 수 있다.
rng=pd.date_range('2012-01-01','2012-09-01',freq='WOM-3fri')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

## 3.데이터 시프트

* 데이터를 시간 축에서 앞이나 뒤로 이동하는 것을 의미
* 색인을 변경하지 않고 앞이나 뒤로 느슨한 shift를 수행하는 shift메서드를 사용한다.

In [14]:
ts=pd.Series(np.random.rand(4),
            index=pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31    0.625687
2000-02-29    0.747735
2000-03-31    0.528731
2000-04-30    0.405864
Freq: M, dtype: float64

In [15]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.625687
2000-04-30    0.747735
Freq: M, dtype: float64

In [16]:
ts.shift(-2)

2000-01-31    0.528731
2000-02-29    0.405864
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [17]:
# 시계열의 시작이나 끝에 결측치가 발생하게 된다.
# 여러 시계열에서의 퍼센트 변화를 계산할 때 흔히 사용한다.

In [18]:
# shift에 빈도를 넘겨서 타임스탬프를 확장시켜준다.
ts.shift(2,freq='m')

2000-03-31    0.625687
2000-04-30    0.747735
2000-05-31    0.528731
2000-06-30    0.405864
Freq: M, dtype: float64

In [19]:
#다른 빈도 넘기기
ts.shift(3,freq='d')

2000-02-03    0.625687
2000-03-03    0.747735
2000-04-03    0.528731
2000-05-03    0.405864
dtype: float64

In [20]:
ts.shift(1,freq='90t')

2000-01-31 01:30:00    0.625687
2000-02-29 01:30:00    0.747735
2000-03-31 01:30:00    0.528731
2000-04-30 01:30:00    0.405864
dtype: float64

### 오프셋만큼 날짜 시프트하기

In [21]:
from pandas.tseries.offsets import Day,MonthEnd
now=datetime(2011,11,17)
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [22]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [23]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [24]:
offset=MonthEnd()

In [25]:
offset.rollforward(now) #날짜를 앞으로 당기기

Timestamp('2011-11-30 00:00:00')

In [26]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [27]:
# groupby를 사용해서 날짜 오프셋을 영리하게 사용하기
ts=pd.Series(np.random.randn(20),
            index=pd.date_range('1/15/2000',periods=20,freq='4d'))
ts

2000-01-15   -0.998969
2000-01-19   -1.142328
2000-01-23    0.494093
2000-01-27   -0.559087
2000-01-31   -1.028443
2000-02-04   -0.208472
2000-02-08   -2.053303
2000-02-12    0.608226
2000-02-16   -0.449959
2000-02-20    1.332405
2000-02-24    0.531530
2000-02-28    0.458887
2000-03-03   -1.301040
2000-03-07   -1.025483
2000-03-11   -1.172841
2000-03-15    1.073282
2000-03-19   -0.085659
2000-03-23    0.635458
2000-03-27   -0.601717
2000-03-31   -3.069865
Freq: 4D, dtype: float64

In [28]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.646947
2000-02-29    0.031331
2000-03-31   -0.693483
dtype: float64