In [1]:
import pytz
import pandas as pd
import numpy as np

In [2]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [3]:
# 시간대 객체 얻기
tz=pytz.timezone('America/New_York')
tz

## 1. 시간대 지역화와 변환

In [4]:
rng=pd.date_range('3/9/2012 9:30',periods=6,freq='D')
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2012-03-09 09:30:00   -0.311313
2012-03-10 09:30:00   -2.432325
2012-03-11 09:30:00    0.584188
2012-03-12 09:30:00    0.089970
2012-03-13 09:30:00   -0.630609
2012-03-14 09:30:00   -0.934404
Freq: D, dtype: float64

In [5]:
print(ts.index.tz)

None

* 시간대를 지정해서 날짜 범위 생성

In [6]:
pd.date_range('3/9/2012 9:30',periods=10,freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

* 지역화 시간으로의 변환 (tz_localize 메서드 사용)

In [7]:
ts

2012-03-09 09:30:00   -0.311313
2012-03-10 09:30:00   -2.432325
2012-03-11 09:30:00    0.584188
2012-03-12 09:30:00    0.089970
2012-03-13 09:30:00   -0.630609
2012-03-14 09:30:00   -0.934404
Freq: D, dtype: float64

In [8]:
ts_utc=ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -0.311313
2012-03-10 09:30:00+00:00   -2.432325
2012-03-11 09:30:00+00:00    0.584188
2012-03-12 09:30:00+00:00    0.089970
2012-03-13 09:30:00+00:00   -0.630609
2012-03-14 09:30:00+00:00   -0.934404
Freq: D, dtype: float64

In [9]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

* 다른 시간대로 변환 (tz_convert)

In [10]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.311313
2012-03-10 04:30:00-05:00   -2.432325
2012-03-11 05:30:00-04:00    0.584188
2012-03-12 05:30:00-04:00    0.089970
2012-03-13 05:30:00-04:00   -0.630609
2012-03-14 05:30:00-04:00   -0.934404
Freq: D, dtype: float64

In [11]:
ts_eastern=ts.tz_localize('America/New_York')

In [12]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.311313
2012-03-10 14:30:00+00:00   -2.432325
2012-03-11 13:30:00+00:00    0.584188
2012-03-12 13:30:00+00:00    0.089970
2012-03-13 13:30:00+00:00   -0.630609
2012-03-14 13:30:00+00:00   -0.934404
dtype: float64

In [13]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.311313
2012-03-10 15:30:00+01:00   -2.432325
2012-03-11 14:30:00+01:00    0.584188
2012-03-12 14:30:00+01:00    0.089970
2012-03-13 14:30:00+01:00   -0.630609
2012-03-14 14:30:00+01:00   -0.934404
dtype: float64

In [14]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

## 2. 시간대를 고려해서 Timestamp 객체 다루기

In [15]:
stamp=pd.Timestamp('2011-03-12 04:00')
stamp_utc=stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [16]:
stamp_moscow=pd.Timestamp('2011-03-12 04:00',tz='Europe/Moscow') #직접 넘겨주기
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

* DST 시행 30분전의 Timestamp

In [17]:
from pandas.tseries.offsets import Hour

In [18]:
stamp=pd.Timestamp('2012-03-12 01:30',tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [19]:
stamp+Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

* DST 시행 90분 전의 Timestamp

In [20]:
stamp=pd.Timestamp('2012-11-04 00:30',tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [21]:
stamp+2*Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

## 3.다른 시간대 간의 연산

* 서로 다른 시간대를 갖는 두 시계열이 하나로 합쳐지면 결과는 UTC가 된다.

In [22]:
rng=pd.date_range('3/7/2012 9:30',periods=10,freq='B')
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2012-03-07 09:30:00   -0.423209
2012-03-08 09:30:00   -1.279765
2012-03-09 09:30:00    0.704907
2012-03-12 09:30:00   -0.368888
2012-03-13 09:30:00   -0.934322
2012-03-14 09:30:00   -1.492661
2012-03-15 09:30:00    0.808211
2012-03-16 09:30:00   -0.382599
2012-03-19 09:30:00   -0.607692
2012-03-20 09:30:00    0.655323
Freq: B, dtype: float64

In [23]:
ts1=ts[:7].tz_localize('Europe/London')
ts2=ts1[2:].tz_convert('Europe/Moscow')
result=ts1+ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)