In [1]:
import requests as req
from bs4 import BeautifulSoup as bs

In [3]:
# 1. 네이버 금융사이트에서 코스피 Top 100 요청
res=req.get('https://finance.naver.com/sise/sise_quant.naver')

In [6]:
# 2. 데이터를 text형태에서 html언어로 변형하기(beautiful soup의 역할)
soup=bs(res.text,'lxml')

In [15]:
#3. soup데이터에서 내가 필요한 요소 찾아오기
title=soup.select('a.tltle')

In [17]:
price=soup.select('td.number')

In [18]:
#4. 데이터의 개수과 정확한지 검증
print(len(title))
print(len(price))

100
1000

In [19]:
#contentarea > div.box_type_l > table > tbody > tr:nth-child(3) > td:nth-child(3)

In [21]:
price=soup.select('td.number:nth-child(3)')
price

[<td class="number">2,695</td>,
 <td class="number">3,955</td>,
 <td class="number">9,455</td>,
 <td class="number">15,490</td>,
 <td class="number">4,700</td>,
 <td class="number">12,635</td>,
 <td class="number">3,380</td>,
 <td class="number">12,720</td>,
 <td class="number">9,040</td>,
 <td class="number">6,700</td>,
 <td class="number">70,800</td>,
 <td class="number">15,400</td>,
 <td class="number">1,515</td>,
 <td class="number">49,855</td>,
 <td class="number">420</td>,
 <td class="number">4,985</td>,
 <td class="number">8,105</td>,
 <td class="number">13,250</td>,
 <td class="number">408</td>,
 <td class="number">455</td>,
 <td class="number">390</td>,
 <td class="number">3,670</td>,
 <td class="number">905</td>,
 <td class="number">23,220</td>,
 <td class="number">4,215</td>,
 <td class="number">8,260</td>,
 <td class="number">767</td>,
 <td class="number">8,350</td>,
 <td class="number">8,265</td>,
 <td class="number">32,785</td>,
 <td class="number">692</td>,
 <td class="number">22,040</td>,
 <td class="number">11,320</td>,
 <td class="number">9,655</td>,
 <td class="number">8,450</td>,
 <td class="number">2,565</td>,
 <td class="number">7,170</td>,
 <td class="number">1,420</td>,
 <td class="number">130,000</td>,
 <td class="number">16,050</td>,
 <td class="number">12,325</td>,
 <td class="number">9,450</td>,
 <td class="number">9,245</td>,
 <td class="number">23,250</td>,
 <td class="number">59,500</td>,
 <td class="number">1,247</td>,
 <td class="number">305</td>,
 <td class="number">2,525</td>,
 <td class="number">4,200</td>,
 <td class="number">17,400</td>,
 <td class="number">5,130</td>,
 <td class="number">1,909</td>,
 <td class="number">893</td>,
 <td class="number">14,210</td>,
 <td class="number">13,290</td>,
 <td class="number">5,805</td>,
 <td class="number">46,350</td>,
 <td class="number">4,430</td>,
 <td class="number">15,630</td>,
 <td class="number">10,215</td>,
 <td class="number">1,198</td>,
 <td class="number">12,540</td>,
 <td class="number">9,380</td>,
 <td class="number">8,490</td>,
 <td class="number">1,450</td>,
 <td class="number">105</td>,
 <td class="number">26,900</td>,
 <td class="number">798</td>,
 <td class="number">678</td>,
 <td class="number">2,840</td>,
 <td class="number">9,390</td>,
 <td class="number">1,589</td>,
 <td class="number">2,850</td>,
 <td class="number">11,930</td>,
 <td class="number">59,500</td>,
 <td class="number">8,450</td>,
 <td class="number">14,580</td>,
 <td class="number">13,360</td>,
 <td class="number">11,700</td>,
 <td class="number">295,500</td>,
 <td class="number">15,330</td>,
 <td class="number">2,870</td>,
 <td class="number">1,761</td>,
 <td class="number">25,420</td>,
 <td class="number">8,280</td>,
 <td class="number">7,445</td>,
 <td class="number">26,550</td>,
 <td class="number">8,020</td>,
 <td class="number">13,265</td>,
 <td class="number">2,830</td>,
 <td class="number">7,735</td>,
 <td class="number">13,255</td>,
 <td class="number">1,240</td>,
 <td class="number">4,230</td>,
 <td class="number">7,230</td>,
 <td class="number">2,575</td>,
 <td class="number">43,400</td>,
 <td class="number">78,200</td>,
 <td class="number">20,535</td>,
 <td class="number">1,899</td>]

In [22]:
print(len(price))

100

In [24]:
#contentarea > div.box_type_l > table > tbody > tr:nth-child(3) > td:nth-child(6)

In [26]:
volume=soup.select('td.number:nth-child(6)')

In [32]:
# title,price,volume 리스트들에서 순수한 글자정보만 추출한 리스트를 새로 제작
titleList=[]
priceList=[]
volumeList=[]
for i in range(len(title)):
    titleList.append(title[i].text)
    priceList.append(price[i].text)
    volumeList.append(volume[i].text)

# 정제된 데이터를 표 형식으로 제작

In [33]:
import pandas as pd

In [41]:
data={'title':titleList,'price':priceList,'volume':volumeList}

In [42]:
kospi=pd.DataFrame(data)

In [43]:
kospi

                  title   price       volume
0      KODEX 200선물인버스2X   2,695  120,111,782
1     KODEX 코스닥150선물인버스   3,955   57,282,234
2      KODEX 코스닥150레버리지   9,455   38,374,903
3            KODEX 레버리지  15,490   14,551,517
4             KODEX 인버스   4,700   13,520,092
..                  ...     ...          ...
95               롯데손해보험   2,575    1,057,707
96               두산로보틱스  43,400    1,039,412
97                   기아  78,200    1,028,453
98  KODEX 미국S&P500선물(H)  20,535    1,006,420
99                신성이엔지   1,899    1,004,020

[100 rows x 3 columns]

In [46]:
kospi.to_csv('kospi.csv',encoding='utf-8-sig')