In [1]:
import pandas as pd
import numpy as np

## Index 연산

In [2]:
idx1=pd.Index([1,2,4,6,8])
idx2=pd.Index([2,4,5,6,7])

In [3]:
print(idx1.append(idx2))

Int64Index([1, 2, 4, 6, 8, 2, 4, 5, 6, 7], dtype='int64')

In [4]:
print(idx1.difference(idx2)) # 차집합을 리턴

Int64Index([1, 8], dtype='int64')

In [5]:
print(idx1-idx2)

Int64Index([-1, -2, -1, 0, 1], dtype='int64')

In [6]:
print(idx1.intersection(idx2)) # 교집합 리턴
# print(idx1 & idx2)

Int64Index([2, 4, 6], dtype='int64')

In [7]:
print(idx1.union(idx2))
# print(idx1 | idx2)

Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')

In [8]:
print(idx1.delete(0)) # 인덱스 값을 delete
print(idx1.drop(1)) # 실제값을 drop

Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')

In [9]:
print(idx1^idx2)# 여집합

Int64Index([1, 5, 7, 8], dtype='int64')

## 인덱싱(Indexing)

In [10]:
s=pd.Series([0,0.25,0.5,0.75,1.0],index=['a','b','c','d','e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [11]:
'b' in s # b가 인덱스 값에 있는지 불리언값으로 리턴

True

In [12]:
s.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [13]:
list(s.items())

[('a', 0.0), ('b', 0.25), ('c', 0.5), ('d', 0.75), ('e', 1.0)]

In [14]:
s['f']=1.25 # 새로운 인덱스와 그 value값을 추가
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
f    1.25
dtype: float64

In [15]:
s1=pd.Series(['a','b','c','d','e'],index=[1,3,5,7,9])

In [16]:
s1.reindex(range(10))

0    NaN
1      a
2    NaN
3      b
4    NaN
5      c
6    NaN
7      d
8    NaN
9      e
dtype: object

In [17]:
s1.reindex(range(10),method='bfill') #backfill-위에 있는 인덱스값들을 채워준다.

0    a
1    a
2    b
3    b
4    c
5    c
6    d
7    d
8    e
9    e
dtype: object

## 다중 인덱싱(Multi Indexing)

* 3차원,4차원 이상의 고차원 데이터 처리할때 용이
* 단일 인덱스 내에 여러 인덱스를 포함하는 다중 인덱싱

In [18]:
pop_tuple={'서울특별시':9720846,'부산광역시':3404423,'인천광역시':2947217,'대구광역시':2427954,'대전광역시':1471040,'광주광역시':1455048}

population=pd.Series(pop_tuple)

male_tuple={'서울특별시':4732275,'부산광역시':1668618,'인천광역시':1476813,'대구광역시':1198815,'대전광역시':734441,'광주광역시':720060}

male=pd.Series(male_tuple)

female_tuple={'서울특별시':4988571,'부산광역시':1735805,'인천광역시':1470404,'대구광역시':1229139,'대전광역시':736599,'광주광역시':734988}

female=pd.Series(female_tuple)

korea_df=pd.DataFrame({'인구수':population,'남자인구수':male,'여자인구수':female})
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599
광주광역시  1455048   720060   734988

In [19]:
idx_tuples=[('서울특별시',2010),('서울특별시',2020),
           ('부산광역시',2010),('부산광역시',2020),
           ('인천광역시',2010),('인천광역시',2020),
           ('대구광역시',2010),('대구광역시',2020),
           ('대전광역시',2010),('대전광역시',2020),
           ('광주광역시',2010),('광주광역시',2020)]
idx_tuples

[('서울특별시', 2010),
 ('서울특별시', 2020),
 ('부산광역시', 2010),
 ('부산광역시', 2020),
 ('인천광역시', 2010),
 ('인천광역시', 2020),
 ('대구광역시', 2010),
 ('대구광역시', 2020),
 ('대전광역시', 2010),
 ('대전광역시', 2020),
 ('광주광역시', 2010),
 ('광주광역시', 2020)]

In [20]:
pop_tuples=[10312545,9720846,2567910,3404423,2758296,2947217,2511676,2427954,1503664
           ,1471040,1454636,1455048]

population=pd.Series(pop_tuples,index=idx_tuples)
population

(서울특별시, 2010)    10312545
(서울특별시, 2020)     9720846
(부산광역시, 2010)     2567910
(부산광역시, 2020)     3404423
(인천광역시, 2010)     2758296
(인천광역시, 2020)     2947217
(대구광역시, 2010)     2511676
(대구광역시, 2020)     2427954
(대전광역시, 2010)     1503664
(대전광역시, 2020)     1471040
(광주광역시, 2010)     1454636
(광주광역시, 2020)     1455048
dtype: int64

In [21]:
midx=pd.MultiIndex.from_tuples(idx_tuples) # 멀티인덱스 값 반환 튜플에서
midx

MultiIndex([('서울특별시', 2010),
            ('서울특별시', 2020),
            ('부산광역시', 2010),
            ('부산광역시', 2020),
            ('인천광역시', 2010),
            ('인천광역시', 2020),
            ('대구광역시', 2010),
            ('대구광역시', 2020),
            ('대전광역시', 2010),
            ('대전광역시', 2020),
            ('광주광역시', 2010),
            ('광주광역시', 2020)],
           )

In [22]:
population=population.reindex(midx)
population

서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [23]:
population[:,2010]

서울특별시    10312545
부산광역시     2567910
인천광역시     2758296
대구광역시     2511676
대전광역시     1503664
광주광역시     1454636
dtype: int64

In [24]:
population['대전광역시',:]

2010    1503664
2020    1471040
dtype: int64

In [25]:
korea_mdf=population.unstack()
korea_mdf

           2010     2020
광주광역시   1454636  1455048
대구광역시   2511676  2427954
대전광역시   1503664  1471040
부산광역시   2567910  3404423
서울특별시  10312545  9720846
인천광역시   2758296  2947217

In [26]:
male_tuples=[5111259,4732275,1773170,1668618,1390356,1476813,1255245,1198815,753648,734441,721780,720060]
korea_mdf=pd.DataFrame({'총인구수':population,'남자인구수':male_tuples})
female_tuples=[5201286,4988571,1794740,1735805,1367940,1470404,1256431,1229139,750016,736599,732856,734988]
korea_mdf=pd.DataFrame({'총인구수':population,'남자인구수':male_tuples,'여자인구수':female_tuples})
ratio=korea_mdf['남자인구수']*100/korea_mdf['여자인구수']
korea_mdf=pd.DataFrame({'총인구수':population,'남자인구수':male_tuples,'여자인구수':female_tuples,'남녀비율':ratio})
korea_mdf

                총인구수    남자인구수    여자인구수        남녀비율
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
광주광역시 2010   1454636   721780   732856   98.488653
      2020   1455048   720060   734988   97.968946

### 다중인덱싱 생성

In [27]:
df=pd.DataFrame(np.random.rand(6,3),index=[['a','a','b','b','c','c'],[1,2,1,2,1,2,]],columns=['c1','c2','c3'])
df

           c1        c2        c3
a 1  0.583870  0.151511  0.418486
  2  0.566649  0.288664  0.835569
b 1  0.010642  0.859895  0.657922
  2  0.353074  0.909204  0.138764
c 1  0.580046  0.999713  0.343779
  2  0.399905  0.936828  0.751670

In [28]:
pd.MultiIndex.from_arrays([['a','a','b','b','c','c'],[1,2,1,2,1,2]]) # array대상으로 멀티인덱스 설정

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [29]:
pd.MultiIndex.from_tuples([('a',1),('a',2),('b',1),('b',2),('c',1),('c',2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [30]:
pd.MultiIndex.from_product([['a','b','c'],[1,2]]) #making a multiindex from the cartesian product of multiple iterables

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [31]:
pd.MultiIndex(levels=[['a','b','c'],[1,2]],codes=[[0,0,1,1,2,2],[0,1,0,1,0,1]]) #인덱스를 코드로 연결

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [32]:
population

서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [33]:
population.index.names=['행정구역','년도'] #인덱스 이름 설정
population

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [34]:
idx=pd.MultiIndex.from_product([['a','b','c'],[1,2]], names=['names1','names2'])
cols=pd.MultiIndex.from_product([['c1','c2','c3'],[1,2]], names=['col_name1','col_name2'])
data=np.round(np.random.randn(6,6),2)
mdf=pd.DataFrame(data=data,index=idx,columns=cols)
mdf

col_name1        c1          c2          c3
col_name2         1     2     1     2     1     2
names1 names2
a      1      -0.35 -0.97  0.63 -0.68 -1.25 -0.81
       2      -0.00  0.08 -0.41  1.28  0.03  0.71
b      1       0.58 -0.07  0.61  1.25 -1.60 -0.80
       2      -0.30  0.93  0.14 -0.86 -0.84  1.18
c      1      -0.41 -0.49 -0.24  1.96  0.84 -0.23
       2      -0.42  0.66  0.81  0.37 -0.38  0.05

In [35]:
mdf['c2']

col_name2         1     2
names1 names2
a      1       0.63 -0.68
       2      -0.41  1.28
b      1       0.61  1.25
       2       0.14 -0.86
c      1      -0.24  1.96
       2       0.81  0.37

#### 인덱싱 및 슬라이싱

In [36]:
population

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [37]:
population['인천광역시',2010]

2758296

In [38]:
population[:,2010]

행정구역
서울특별시    10312545
부산광역시     2567910
인천광역시     2758296
대구광역시     2511676
대전광역시     1503664
광주광역시     1454636
dtype: int64

In [39]:
population[population>3000000]

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2020     3404423
dtype: int64

In [40]:
mdf

col_name1        c1          c2          c3
col_name2         1     2     1     2     1     2
names1 names2
a      1      -0.35 -0.97  0.63 -0.68 -1.25 -0.81
       2      -0.00  0.08 -0.41  1.28  0.03  0.71
b      1       0.58 -0.07  0.61  1.25 -1.60 -0.80
       2      -0.30  0.93  0.14 -0.86 -0.84  1.18
c      1      -0.41 -0.49 -0.24  1.96  0.84 -0.23
       2      -0.42  0.66  0.81  0.37 -0.38  0.05

In [41]:
mdf['c2',1]

names1  names2
a       1         0.63
        2        -0.41
b       1         0.61
        2         0.14
c       1        -0.24
        2         0.81
Name: (c2, 1), dtype: float64

In [42]:
mdf.iloc[:3,:4]

col_name1        c1          c2
col_name2         1     2     1     2
names1 names2
a      1      -0.35 -0.97  0.63 -0.68
       2      -0.00  0.08 -0.41  1.28
b      1       0.58 -0.07  0.61  1.25

In [44]:
mdf.loc[:,('c2',1)]

names1  names2
a       1         0.63
        2        -0.41
b       1         0.61
        2         0.14
c       1        -0.24
        2         0.81
Name: (c2, 1), dtype: float64

In [46]:
idx_slice=pd.IndexSlice
mdf.loc[idx_slice[:,2],idx_slice[:,2]]

col_name1        c1    c2    c3
col_name2         2     2     2
names1 names2
a      2       0.08  1.28  0.71
b      2       0.93 -0.86  1.18
c      2       0.66  0.37  0.05

#### 다중 인덱스 재정렬

In [47]:
idx

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           names=['names1', 'names2'])

In [48]:
korea_mdf

                총인구수    남자인구수    여자인구수        남녀비율
행정구역  년도
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
광주광역시 2010   1454636   721780   732856   98.488653
      2020   1455048   720060   734988   97.968946

In [50]:
korea_mdf=korea_mdf.sort_index()
korea_mdf

                총인구수    남자인구수    여자인구수        남녀비율
행정구역  년도
광주광역시 2010   1454636   721780   732856   98.488653
      2020   1455048   720060   734988   97.968946
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867

In [51]:
korea_mdf['서울특별시':'인천광역시']

                총인구수    남자인구수    여자인구수        남녀비율
행정구역  년도
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867

In [53]:
korea_mdf.unstack(level=0) #가장 왼쪽 인덱스가 컬럼으로 이동

         총인구수                                                 남자인구수           \
행정구역    광주광역시    대구광역시    대전광역시    부산광역시     서울특별시    인천광역시   광주광역시    대구광역시
년도
2010  1454636  2511676  1503664  2567910  10312545  2758296  721780  1255245
2020  1455048  2427954  1471040  3404423   9720846  2947217  720060  1198815

                       ...   여자인구수                                  남녀비율  \
행정구역   대전광역시    부산광역시  ...   대전광역시    부산광역시    서울특별시    인천광역시      광주광역시
년도                     ...
2010  753648  1773170  ...  750016  1794740  5201286  1367940  98.488653
2020  734441  1668618  ...  736599  1735805  4988571  1470404  97.968946


행정구역      대구광역시       대전광역시      부산광역시      서울특별시       인천광역시
년도
2010  99.905606  100.484256  98.798155  98.269140  101.638668
2020  97.532907   99.707032  96.129346  94.862336  100.435867

[2 rows x 24 columns]

In [54]:
korea_mdf.unstack(level=-1) #인덱스 -1에 위치하는 인덱스가 컬럼으로 이동

           총인구수             남자인구수             여자인구수                 남녀비율  \
년도         2010     2020     2010     2020     2010     2020        2010
행정구역
광주광역시   1454636  1455048   721780   720060   732856   734988   98.488653
대구광역시   2511676  2427954  1255245  1198815  1256431  1229139   99.905606
대전광역시   1503664  1471040   753648   734441   750016   736599  100.484256
부산광역시   2567910  3404423  1773170  1668618  1794740  1735805   98.798155
서울특별시  10312545  9720846  5111259  4732275  5201286  4988571   98.269140
인천광역시   2758296  2947217  1390356  1476813  1367940  1470404  101.638668


년도           2020
행정구역
광주광역시   97.968946
대구광역시   97.532907
대전광역시   99.707032
부산광역시   96.129346
서울특별시   94.862336
인천광역시  100.435867

In [55]:
korea_mdf

                총인구수    남자인구수    여자인구수        남녀비율
행정구역  년도
광주광역시 2010   1454636   721780   732856   98.488653
      2020   1455048   720060   734988   97.968946
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867

In [56]:
idx_flat=korea_mdf.reset_index(level=0)
idx_flat

       행정구역      총인구수    남자인구수    여자인구수        남녀비율
년도
2010  광주광역시   1454636   721780   732856   98.488653
2020  광주광역시   1455048   720060   734988   97.968946
2010  대구광역시   2511676  1255245  1256431   99.905606
2020  대구광역시   2427954  1198815  1229139   97.532907
2010  대전광역시   1503664   753648   750016  100.484256
2020  대전광역시   1471040   734441   736599   99.707032
2010  부산광역시   2567910  1773170  1794740   98.798155
2020  부산광역시   3404423  1668618  1735805   96.129346
2010  서울특별시  10312545  5111259  5201286   98.269140
2020  서울특별시   9720846  4732275  4988571   94.862336
2010  인천광역시   2758296  1390356  1367940  101.638668
2020  인천광역시   2947217  1476813  1470404  100.435867

In [57]:
idx_flat=korea_mdf.reset_index(level=(0,1))
idx_flat

     행정구역    년도      총인구수    남자인구수    여자인구수        남녀비율
0   광주광역시  2010   1454636   721780   732856   98.488653
1   광주광역시  2020   1455048   720060   734988   97.968946
2   대구광역시  2010   2511676  1255245  1256431   99.905606
3   대구광역시  2020   2427954  1198815  1229139   97.532907
4   대전광역시  2010   1503664   753648   750016  100.484256
5   대전광역시  2020   1471040   734441   736599   99.707032
6   부산광역시  2010   2567910  1773170  1794740   98.798155
7   부산광역시  2020   3404423  1668618  1735805   96.129346
8   서울특별시  2010  10312545  5111259  5201286   98.269140
9   서울특별시  2020   9720846  4732275  4988571   94.862336
10  인천광역시  2010   2758296  1390356  1367940  101.638668
11  인천광역시  2020   2947217  1476813  1470404  100.435867

In [58]:
idx_flat.set_index(['행정구역','년도'])

                총인구수    남자인구수    여자인구수        남녀비율
행정구역  년도
광주광역시 2010   1454636   721780   732856   98.488653
      2020   1455048   720060   734988   97.968946
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867