# Sort

In [1]:
import numpy as np
import pandas as pd

In [4]:
obj=pd.Series(range(4), index=['d','a','b','c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

In [6]:
obj.sort_index() #index를 알파벳 순으로 정렬

a    1
b    2
c    3
d    0
dtype: int64

In [7]:
obj.sort_values() # value값에 따라 정렬

d    0
a    1
b    2
c    3
dtype: int64

In [8]:
df=pd.DataFrame(np.random.randint(0,10,(4,4)),index=[2,4,1,3],columns=list('BDAC'))
df

   B  D  A  C
2  8  1  9  2
4  9  4  4  6
1  8  6  5  4
3  6  4  6  2

In [9]:
df.sort_index() # 인덱스 값에 따라 정렬

   B  D  A  C
1  8  6  5  4
2  8  1  9  2
3  6  4  6  2
4  9  4  4  6

In [10]:
df.sort_values(by='A') # A를 기준으로 정렬

   B  D  A  C
4  9  4  4  6
1  8  6  5  4
3  6  4  6  2
2  8  1  9  2

In [11]:
df.sort_values(by=['A','C']) #A를 기준으로 먼저 정렬한 다음 C를 기준으로 정렬

   B  D  A  C
4  9  4  4  6
1  8  6  5  4
3  6  4  6  2
2  8  1  9  2

In [12]:
df

   B  D  A  C
2  8  1  9  2
4  9  4  4  6
1  8  6  5  4
3  6  4  6  2

In [13]:
df.sort_index(axis=1) #컬럼을 기준으로 정렬

   A  B  C  D
2  9  8  2  1
4  4  9  6  4
1  5  8  4  6
3  6  6  2  4

# Ranking

In [14]:
s=pd.Series([-2,4,7,3,0,7,5,-4,2,6])
s

0   -2
1    4
2    7
3    3
4    0
5    7
6    5
7   -4
8    2
9    6
dtype: int64

In [15]:
s.rank() #랭크값으로 리턴 #동일한 값이 있으면 반으로 나눈 값을 리턴 e.g)9.5

0    2.0
1    6.0
2    9.5
3    5.0
4    3.0
5    9.5
6    7.0
7    1.0
8    4.0
9    8.0
dtype: float64

In [16]:
s.rank(method='first')
# 먼저 온 숫자가 더 높을 랭킹마크
# 인덱스 2와 5는 같은 값을 갖지만 2가 더 먼저 오므로 더 높은 랭킹마크

0     2.0
1     6.0
2     9.0
3     5.0
4     3.0
5    10.0
6     7.0
7     1.0
8     4.0
9     8.0
dtype: float64

In [17]:
s.rank(method='max')
# 같은 값을 가지는 그룹을 높은 순위로 매긴다.

0     2.0
1     6.0
2    10.0
3     5.0
4     3.0
5    10.0
6     7.0
7     1.0
8     4.0
9     8.0
dtype: float64

In [18]:
s.rank(method='min')
# 같은 값을 가지는 그룹을 낮은 순위로 매긴다.

0    2.0
1    6.0
2    9.0
3    5.0
4    3.0
5    9.0
6    7.0
7    1.0
8    4.0
9    8.0
dtype: float64