# 데이터 결합

## concat()/Append()

In [2]:
import pandas as pd
import numpy as np

In [ ]:
# concat (축 따라 이어붙이기)
# axis=0을 기본값으로 하여 새로운 Series 객체를 생성 (만약 axis=1을 넘긴다면 결과는 DataFrame이 된다.)

In [3]:
s1=pd.Series(['a','b'], index=[1,2])
s2=pd.Series(['c','d'], index=[3,4])
pd.concat([s1,s2])

1    a
2    b
3    c
4    d
dtype: object

In [4]:
df1=pd.DataFrame({'A':['a1','a2'],'B':['b1','b2']})
df1

    A   B
0  a1  b1
1  a2  b2

In [5]:
df2=pd.DataFrame({'A':['a3','a4'],'B':['b3','b4']})
df2

    A   B
0  a3  b3
1  a4  b4

In [7]:
pd.concat([df1,df2])

    A   B
0  a1  b1
1  a2  b2
0  a3  b3
1  a4  b4

In [8]:
df3=pd.DataFrame({'A':['a0','a1'],'B':['b0','b1']})
df3

    A   B
0  a0  b0
1  a1  b1

In [9]:
df4=pd.DataFrame({'C':['c0','c1'],'D':['d0','d1']})
df4

    C   D
0  c0  d0
1  c1  d1

In [10]:
pd.concat([df3,df4])

     A    B    C    D
0   a0   b0  NaN  NaN
1   a1   b1  NaN  NaN
0  NaN  NaN   c0   d0
1  NaN  NaN   c1   d1

In [11]:
pd.concat([df3,df4],axis=1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1

In [12]:
df1

    A   B
0  a1  b1
1  a2  b2

In [13]:
df3

    A   B
0  a0  b0
1  a1  b1

In [16]:
pd.concat([df1,df3],verify_integrity=True)
# 이어붙인 객체에 중복되는 축이 있는지 검사하고 있다면 예외를 발생시킴 default=False

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

In [17]:
pd.concat([df1,df3],ignore_index=True)
# 이어붙인 축의 색인을 유지하지 않고 range로 새로운 색인 설정

    A   B
0  a1  b1
1  a2  b2
2  a0  b0
3  a1  b1

In [18]:
pd.concat([df1,df3],keys=['X','Y'])
# 이어붙일 객체나 이어붙인 축에 대한 계층 색인을 생성하는데 연관된 값
# 리스트나 임의의 값이 들어 있는 배열, 튜플의 배열 또는 배열의 리스트가 될 수 있다.

      A   B
X 0  a1  b1
  1  a2  b2
Y 0  a0  b0
  1  a1  b1

In [19]:
s1=pd.Series([0,1], index=['a','b'])
s4=pd.Series([0,1,5,6], index=['a','b','f','g'])

In [21]:
pd.concat([s1,s4],axis=1)

     0  1
a  0.0  0
b  1.0  1
f  NaN  5
g  NaN  6

In [22]:
pd.concat([s1,s4],join='inner') #내부조인(교집합) 중복되는 부분만 리턴

a    0
b    1
a    0
b    1
f    5
g    6
dtype: int64

In [23]:
s1.append(s4)

a    0
b    1
a    0
b    1
f    5
g    6
dtype: int64